{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "endOfLine": "auto",

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/constants/(.*)$",
    "^@/apis/(.*)$",
    "^@/store/(.*)$",
    "^@/hooks/(.*)$",
    "^@/pages/(.*)$",
    "^@/features/(.*)$",
    "^@/components/(.*)$",
    "^@/ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
