@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

/* 슬라이더 펜 색 */
.pen-range {
  --range-shdw: var(--pen-color);
}

/* 캔버스 배경 투명 그리드 */
.transparency-grid {
  background: rgba(50, 50, 50, 0.25)
    repeating-conic-gradient(rgba(50, 50, 50, 0.25) 0% 25%, transparent 0% 50%)
    50% / 10px 10px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-custom-bounce {
  animation: bounce 1.5s infinite !important;
}

.grid-auto-rows-max {
  grid-auto-rows: max-content;
}

/* 드래그 애니메이션을 위한 transformer 상자 */
.transformer-box {
  position: relative;
}

.transformer-box:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px dashed #01a0ff;
}

.transformer-box-left-top:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0%;
  left: 0%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border: 1px solid #01a0ff;
}
.transformer-box-top:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border: 1px solid #01a0ff;
}
.transformer-box-right-top:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0%;
  left: 100%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border: 1px solid #01a0ff;
}
.transformer-box-right:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 100%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border: 1px solid #01a0ff;
}
.transformer-box-right-bottom:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 100%;
  left: 100%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border: 1px solid #01a0ff;
}
.transformer-box-bottom:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border: 1px solid #01a0ff;
}
.transformer-box-left-bottom:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 100%;
  left: 0%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border: 1px solid #01a0ff;
}
.transformer-box-left:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border: 1px solid #01a0ff;
}
/*  */

.custom-scroll-bar::-webkit-scrollbar {
  width: 4px;
}
.custom-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(50, 50, 50, 0.25);
}
